.my-nav {
    opacity: 1;
    background-color: rgb(188, 183, 182, 0.4) !important;
}

.navbar-brand, .navbarLinks{
    color: black!important;
}

.navbarLinks {
    margin-left: 10px;
    color: black!important;
}

#basic-navbar-nav {
    justify-content: flex-end !important;
}
