* {
  box-sizing: border-box;
  text-align: center;
}

body {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

.postTitle {
  margin: 3vmin auto;
}

.postCarousel img {
  height: 25em;
}

.postContent {
  width: 80vmin;
  margin: auto;
  margin-top: 3vmin;
}

@media (min-width: 800px) {
  .postCarousel {
    width: 50em;
    height: 25em;
    margin: auto;
  }
}