* {
  box-sizing: border-box;
  text-align: center;
}

body {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

.blogImg {
  max-height: 30vmin;
  max-width: 30vmin;
}

.lookForm {
  text-align : left;
  display : flex;
  flex-direction: column;
  width: 30%;
}